*{
box-sizing: border-box;
    
}

body{
    background-color: #252525;
    margin: auto;
    color: aliceblue;
}

.bts{
   text-align: center;
   transition: 1s;
}

.table{
    margin: auto;
}

.bts:hover{
    cursor: pointer;
    color: blueviolet;
}

.modal {
   background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 249, 249);
    font-weight: bold;
}