* {
    box-sizing: border-box;

}

body {
    background-color: #252525;
    margin: auto;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.bts-container {
    display: flex;
    justify-content: center;
}

.bts {
    position: relative;
    display: inline;

    transition: 1s;
}

.table {
    margin: auto;
}

.bts:hover {
    cursor: pointer;
    color: rgb(163, 102, 203);
}

.modal {

    color: #ffffff;
    background-color: lightblue;
    font-weight: bold;
    border: none;
    -webkit-box-shadow: 0px 0px 50px 23px rgba(23, 12, 36, 1);
    -moz-box-shadow: 0px 0px 50px 23px rgba(23, 12, 36, 1);
    box-shadow: 0px 0px 50px 23px rgb(10, 9, 11);
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
.x-bt{
   
}
.fillter {
    text-align: center;
    line-height: 50px;
}

.search-input {
    text-align: center;
}

.success {
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #252525;
}

.success h2 {
    background-color: rgba(217, 194, 232, 0.9);
    padding: 10px 25px;
    border-radius: 20px;
}


footer {
    position: fixed;
    bottom: 0;
    margin-left: 20px;
}

.hover1:hover {
    transition: 1s;
    color: rgb(163, 102, 203);
}

.name:hover {
    transition: 1s;
    color: rgb(163, 102, 203);
}


footer span:hover {
    transition: 1s;
    color: rgb(163, 102, 203);
}


button {
    background-color: rgb(178, 105, 228);
    color: rgb(244, 230, 255);
    font-weight: bold;
    width: 60px;
    margin-right: 5px;
    border: none;
    border-radius: 2px;
    line-height: 20px;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(208, 173, 232);
    cursor: pointer;
}

.del {
    background-color: rgb(99, 34, 122);
    color: rgb(244, 230, 255);
}

.del:hover {
    background-color: rgb(134, 50, 26);
    animation: shake 0.5s ease infinite;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateY(0);
    }
}

.noM-container {
    display: flex;
    justify-content: center;
}

.noMatch {
    position: relative;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    animation: shake 4s ease infinite;

}